.footer {
  background: #2d2d2d;
  color: #ccc;
  text-align: center;
  padding: 40px 0 0 0;
}

.footer-carousel {
  display: flex;
  align-items: center; /* Vertically center arrows and logos */
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-logo img {
  width: 180px;
  height: 80px;
  object-fit: contain;
  margin: 0 10px 20px 0px;
  display: inline-block;
  opacity: 0.3;
  filter: grayscale(100%);
  transition: opacity 0.3s, filter 0.3s;
}

.footer-logo img.active {
  opacity: 1;
  filter: none;
}

.footer-arrow-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
}

.footer-copyright {
  background: #222;
  color: #aaa;
  font-size: 13px;
  padding: 40px 0 40px 0;
  border-top: 1px solid #333;
}